html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  background-image: url('/img/site_background.jpg');
  /* background-image: url('/img/not_tiled_space_BG.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#game-container {
  width: 600px;
  height: 800px;
}

@media (max-width: 768px) {
  #game-container {
    width: 100vw;   /* 화면 가로 꽉 채움 */
    height: 100vh;  /* 화면 세로 꽉 채움 */
  }
}
